@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nanum+Gothic&display=swap");

:root {
  --bg-gray-login: url("/assets/bg-gray-login.jpg");
  --logo-font: "Nanum Gothic", sans-serif;
}
body{
  background-color: #171a1b;
}
.shadow-snipped {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.hover-snipped {
  transition: ease-in-out all 0.2s;
}
.hover-snipped:hover {
  opacity: 0.6;
}
.button-snipped {
  background-color: #dfdfdf;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #3a3a3a;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 3rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition:  ease-in-out 0.2s;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-snipped:hover {
  background-color: rgb(179, 179, 179);
}

.button-snipped:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-snipped:focus-visible {
  box-shadow: none;
}
.beforeHeader::before {
    content: "";
    position: absolute;
   bottom: 0;
    left: 0;
    height: 4px;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #ed145b, transparent);
  }
.beforeHeader::after {
    content: "";
    position: absolute;
   top: 0;
    left: 0;
    height: 4px;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, #ed145b, transparent);
  }
  .b-bottom{
    position: relative;
  }
  .b-bottom::before{
    content: "";
    position: absolute;
    bottom: -9px;
    right: 50%;
    transform: translateX(50%);
    height: 2px;
    width: 50px;
    background-color: white;
  }
  .slaheigth{
    min-height: 70vh;
    max-height: 70vh;
  }
  @keyframes entrar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.soft-entry{
  animation: entrar 2s ease-in-out;
}
.buttonForgot{
  background-color: #ed145c9c !important;
  color: #fff !important;
  transition: 0.3s ease-in-out !important;
  padding:0 10% !important;
  margin-right: 12px ;
}
.buttonForgot:hover{
  background-color: #ed145b !important;
}
.cancelForgout{
  background-color: #bbbbbb62 !important;
  color:  #fff!important;
  transition: 0.3s ease-in-out !important;
  padding: 0  10% !important;
}
.cancelForgout:hover{
  background-color: #a0a0a0 !important;
}
.openForgout{
  background: none !important;
  color: #d9d9d9 !important;
  transition: 0.3s ease-in-out !important;
  margin: 5px 0 !important;
}
.openForgout:hover{
  color: #8a8a8a !important;
}
.inputPin{
  border: 2px solid #a0a0a0 !important;
  font-size: 1.6rem !important;
  outline: none !important;
  color: #ed145b;
}
.inputPin:focus{
  border: none !important;
  font-size: 1.6rem !important;
  outline: 2px solid #ed145b !important;
  color: #ed145b;
}
.inputDate{
  padding: 0 5px !important;
  height: 52px !important;
}
.boxprofile{
  position: relative !important;
}
.toggleProfile{
  position: absolute !important;
  top: 0 !important;
  border-radius: 50%;
  right: 0 !important;
  max-width: 50px;
}